<%-include header%>
  <div class="am-u-md-8">
    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a href="/u/<%=post.name%>/<%=post.time.day%>/<%=post.title%>"><%=post.title%></a>
      </h3>
      <h4 class="am-article-meta blog-meta">作者：<a href="/u/<%=post.name%>"><%=post.name%></a> | 时间：<%=post.time.day%><a class="am-margin-left" href="/edit/<%=post.name%>/<%=post.time.day%>/<%=post.title%>">编辑</a><a class="am-margin-left" href="/remove/<%=post.name%>/<%=post.time.day%>/<%=post.title%>">删除</a></h4>
      <div class="am-g blog-content" style="word-break: break-all;text-indent:2rem;">
        <%-post.post%>
        <p>阅读：<%=post.pv%> | 评论：<%=post.comments.length%></p>
      </div>
    </article>
    <hr class="am-article-divider blog-hr">
    <%-include comments%>
  </div>
  <div class="am-u-md-4">
    <%-include comment%>
  </div>
<%-include footer%>