<%-include header%>
  <div class="am-u-md-8">
    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a href="/u/<%=post.name%>/<%=post.time.day%>/<%=post.title%>"><%=post.title%></a>
      </h3>
      <h4 class="am-article-meta blog-meta">by <a href="/u/<%=post.name%>"><%=post.name%></a> posted on <%=post.time.day%></h4>
      <div class="am-g blog-content">
        <%-post.post%>
      </div>
    </article>
    <hr class="am-article-divider blog-hr">
  </div>
  <div class="am-u-md-4">
    <%-include comment%>
  </div>
<%-include footer%>