<%-include header%>
</head>
<body>
<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-8">
    <%posts.forEach(function(post,index){%>
    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a href="/u/<%=post.name%>/<%=post.time.day%>/<%=post.title%>"><%=post.title%></a>
      </h3>
      <h4 class="am-article-meta blog-meta">作者：<a href="/u/<%=post.name%>"><%=post.name%></a> | 时间：<%=post.time.day%> | 标签：
      <%post.tags.forEach(function(tag,index){%>
        <%if(tag){%>
          <a class="tag" href="/tags/<%=tag%>"><%=tag%></a>
        <%}%>
      <%});%>
      </h4>
      <div class="am-g">
        <div class="am-u-sm-12" style="word-break: break-all;"><%-post.post%>
          <p>阅读：<%=post.pv%> | 评论：<%=post.comments.length%></p>
        </div>
      </div>
    </article>
    <hr class="am-article-divider blog-hr">
    <%});%>
    <%-include paging%>
  </div>

  <div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">关于我</div>
        <div class="am-panel-bd">
          <p>前所未有的中文云端字型服务，让您在 web 平台上自由使用高品质中文字体，跨平台、可搜寻，而且超美。云端字型是我们的事业，推广字型学知识是我们的志业。从字体出发，关心设计与我们的生活，justfont blog
            正是為此而生。</p>
          <a class="am-btn am-btn-success am-btn-sm" href="#">查看更多 →</a>
        </div>
      </section>
      <%if(posts){%>
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">热门文章</div>
        <ul class="am-list blog-list">
          <%posts.forEach(function(post,index){%>
          <li><a href="/u/<%=post.name%>/<%=post.time.day%>/<%=post.title%>"><%=post.title%></a></li>
          <%});%>
        </ul>
      </section>
      <%}%>
    </div>
  </div>
</div>

<footer class="blog-footer">
  <p>blog base on express<br/>
    <small>© Copyright XXX. by 流苏冰茶</small>
  </p>
</footer>
<%-include footer%>